global
    maxconn 50000
    nbthread 1

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option http-server-close
    option forwardfor

frontend http
    bind *:80
    default_backend apis

backend apis
    balance roundrobin
    option http-keep-alive
    server api1 api1:3000 check
    server api2 api2:3000 check
